/*body *{*/
    border: 1px solid red;
}
.vb1{
    font-size: 15px;
    padding: 15px;
}
.vb2{
    font-size: 45px;
    padding: 20px;
}
.vb3{
    font-size: 15px;
    padding: 8px;
}
#vb4{
    font-size: 30px;
    text-align: center;
    padding: 8px;
    color: white;
}
#vb5 {
    font-size: 18px;
    padding: 8px;
    color: white;
    margin-top: 4%;
    margin-left: -6%;
}
#vb6 {
    font-size: 18px;
    padding: 8px;
    color: white;
    margin-top: 1%;
    margin-left: -6%;
}
#img1{
    width: 85%;
    padding: -3px;
    margin-left: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20%;
}
.col-sm-3{
    background-color: black;
}
#row1{
    background-color: grey;
}
.icon1 {
    font-size: 30px;
    color: white;
    padding-top: 5px;
    margin-left: -20%;
}
.fa-facebook{
    color: white;
}
.fa:hover{
    opacity: 0.8;
    color: white;
    text-decoration: none;
}

